<title>{% block title %}Hangman{% endblock %}</title>
<div style="text-align:center">
    <h1>Guess the word one letter at a time</h1>
    <p>Mistakes allowed: <span  class="js-misses">{{ game.misses }}</span></p>
    <p class="js-word" style="letter-spacing: 8px; font-family: monospace; font-size: 1.5em">{{ game.guessed }}</p>
    <p><form>
        <input class="js-guess" type="text" style="width: 3em; text-align: center" maxlength="1"/>
        <input class="js-btn" type="submit" value="Go!">
    </form></p>
</div>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
		
<script type="text/javascript">
$(function(){
    $('.js-btn').on('click', function() {
        $.ajax({
            type: 'POST',
            contentType:"application/json; charset=utf-8",
            url: '/guess/',
            data: JSON.stringify({ letter: $('.js-guess').val() }),
            success: function(game, status, xhr) {
                $('.js-word').text(game.guessed);
                $('.js-misses').text(game.misses);
                if (game.status) {
                    window.location.pathname = '/win/';
                } else if (game.status == false) {
                    window.location.pathname = '/gameover/';
                }
            }
        });
        $('.js-guess').val('');
        return false;
    });
});
</script>
